@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: ["light", "dark"];
}


@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #e5dcc5;      /* parchment light */
  --color-secondary: #9ca3af;    /* soft gray */
  --color-accent: #f59e0b;       /* classic library gold */
  --color-neutral: #1c1917;      /* deep wood black */
  --color-info: #4b5563;
  --color-warning: #f59e0b; 

  --color-base-100: #121212;     /* true reading dark */
  --color-base-200: #1c1917;     /* card background */
  --color-base-300: #292524;     /* borders / separators */

  --color-base-content: #f5f3ef; /* warm readable text */
  --color-error: #1f2933;
}



@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #2c3e50;    /* deep ink blue */
  --color-secondary: #6b7280;  /* muted slate gray */
  --color-accent: #f59e0b;     /* rich burnt brown, stands out on light cards */
  --color-neutral: #f5f3ef;    /* paper white */
  --color-info: #dbeafe;
  --color-warning: #f59e0b; 

  --color-base-100: #fdfcf9;   /* warm page background */
  --color-base-200: #f3f1eb;   /* subtle paper contrast */
  --color-base-300: #e6e2d8;   /* divider / card border */

  --color-base-content: #1f2933; /* high-contrast text */
  --color-error: #f5f3ef;
}




body {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01em;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

a.active{
  color: #ffffff;
  border-radius: 40px;
  background-color: #6d5ef3;
}