@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: ["light", "dark"];
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #1f2937;
  --color-secondary: #6d5ef3;
  --color-accent: #e8c547;
  --color-neutral: #f5f5f0;
  --color-base-100: #fafaf7;
  --color-base-200: #ffffff;
  --color-base-300: #e5e7eb;
  --color-base-content: #1f2937; 

}


body {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-color: #e5e7eb;
  color: #1f2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01em;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

a.active{
  color: #ffffff;
  border-radius: 40px;
  background-color: #6d5ef3;
}